PORT=5000
MONGODB_URI=mongodb+srv://mohitsoni2006ms:9829830910@cluster0.xsx2q.mongodb.net/hackathon_gandhinagar_testing
NEXT_PUBLIC_API_URL=http://localhost:5000/api
GOOGLE_CLIENT_ID=your-google-client-id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
